
.temp
{
    position: fixed;
    margin-top: 10%;
}



/* //////////////////////////////////////////////////////////////////////////////////----------Section1------------////////////////////////////////////// */
.Section1
{
    width:80vw;
    height:65vh;
    /* border:0.1rem solid red; */
    margin:auto;
    position: relative;
    top:27vh;
    display: flex;
    justify-content: space-between;
}


.Section1Heading
{
    width: 45%;
    /* border:0.1rem solid black; */
    padding-left: 1%;
    padding-top:0%;
    display: grid;
    place-items: center; 
    height: 65vh; 
    transition: 1s;

    border-radius: 25px;
    box-shadow:  5px 5px 4px #848484,
    -5px -5px 4px #ffffff;
}

.Section1Heading:hover
{
    transition: 2s;
    background-color: #f1c40f;
    span
    {
        color:#e0e0e0;
        transition: 2s;
    }
}

.Section1SVG1
{
width:45%;
/* border:0.1rem dotted black; */
display: flex;
justify-items: center;
justify-content: center;
}

span
{
    color:#f1c40f;
}

.Section1Typed
{

}

.Section1Head
{

}

.Section1TypeHead
{
}



/* //////////////////////////////////////////////////////////////////--------------- Section1 ---------------------/////////////////////////////////////////////// */




/* ////////////////////////////////////////////////////////////////----------------- Section2 --------------------////////////////////////////////////////////////// */
.Section2
{
    width:80vw;
    height:60vh;
    /* border:0.1rem solid red; */
    margin:auto;
    position: relative;
    top:40vh;
    display: flex;
    justify-content: space-between;
   
}

.Section2SVG2
{
    width:45%;
    /* border:0.1rem dotted black; */
    display: flex;
    justify-items: center;
    justify-content: center;
}


.Section2Text
{   width:40%;
    display: grid;
    align-items: center; 
    height: 60vh;   
    padding-left: 1%;
    text-align: left;
    /* border: 0.1rem dotted red; */
    transition: 1s;


    border-radius: 25px;
    box-shadow:  5px 5px 4px #848484,
    -5px -5px 4px #ffffff;
}

.Section2Text:hover
{
    transition: 2s;
    background-color: #f1c40f;
}

.Section2SubText
{
    text-align: left;
    width: 120%;
    font-size: 0.8rem;
}





/* //////////////////////////////////--------------------------------------------Section2----------------------------------------------/////////////////////////////////////////// */

/* //////////////////////////////// Media ////////////////////////////////////////////// */
.SectionHeading
{
    text-align: left !important;
    font-size: 5.5rem;
    width:80%;
    /* border:0.1rem solid red; */
}

.SectionSubHeading
{
    color:#e0e0e0;
    font-size: 5.5rem;
}

@media(max-width:1790px)
{
    .SectionHeading
    {
        font-size: 5.1rem;
    }

    .SectionSubHeading
    {
        font-size: 5.1rem;
    }
}

@media(max-width:1663px)
{
    .SectionHeading
    {
        font-size: 4.8rem;
    }

    .SectionSubHeading
    {
        font-size: 4.8rem;
    }
}

@media(max-width:1570px)
{
    .SectionHeading
    {
        font-size: 4.6rem;
    }

    .SectionSubHeading
    {
        font-size: 4.6rem;
    }
}

@media(max-width:1503px)
{
    .SectionHeading
    {
        font-size: 4.4rem;
    }

    .SectionSubHeading
    {
        font-size: 4.4rem;
    }
}

@media(max-width:1445px)
{
    .SectionHeading
    {
        font-size: 4.2rem;
    }

    .SectionSubHeading
    {
        font-size: 4.2rem;
    }
}


@media(max-width:1376px)
{
    .SectionHeading
    {
        font-size: 4.1rem;
    }

    .SectionSubHeading
    {
        font-size: 4.1rem;
    }
}


@media(max-width:1345px)
{
    .SectionHeading
    {
        font-size: 4.0rem;
    }

    .SectionSubHeading
    {
        font-size: 4.0rem;
    }
}

@media(max-width:1311px)
{
    .SectionHeading
    {
        font-size: 3.8rem;
    }

    .SectionSubHeading
    {
        font-size: 3.8rem;
    }
}


@media(max-width:1246px)
{
    .SectionHeading
    {
        font-size: 3.6rem;
    }

    .SectionSubHeading
    {
        font-size: 3.6rem;
    }
}


@media(max-width:1182px)
{
    .SectionHeading
    {
        font-size: 3.4rem;
    }

    .SectionSubHeading
    {
        font-size: 3.4rem;
    }
}


@media(max-width:1120px)
{
    .SectionHeading
    {
        font-size: 3.2rem;
    }

    .SectionSubHeading
    {
        font-size: 3.2rem;
    }
}


@media(max-width:1052px)
{
    .SectionHeading
    {
        font-size: 3.0rem;
    }

    .SectionSubHeading
    {
        font-size: 3.0rem;
    }
}


@media(max-width:991px)
{
    .SectionHeading
    {
        font-size: 2.8rem;
    }

    .SectionSubHeading
    {
        font-size: 2.8rem;
    }
}


@media (max-height:655px)
{
    .Section2Text
    {
        height:73vh;
    }
}


/* /////////////////////////////////////////////////////////////  ---------------------- Media -------------------- ////////////////////////////////////////////// */


.section3
{
    height:60vh;
    width:80vw;
    margin:auto;
    /* border:0.06rem solid red; */
    position: relative;
    top:55vh;
    display:flex;
    justify-content: space-between;
}

.section3Text
{
    width:40%;
    height:62vh;
    /* border:0.1rem solid black; */
    transition:1s;
    display: grid;
    align-items: center;   
    padding-left: 1%;
    text-align: left;
    border-radius: 25px;
    box-shadow:  5px 5px 4px #848484,
    -5px -5px 4px #ffffff;
}

.section3SVG
{
    width:45% !important;
    display: flex;
    justify-items: center;
    /* align-items: center; */
    justify-content: center;
   
}

.ImgPng1
{
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    transition: transform 0.3s ease-in-out;
    animation: hoverAnimation 3.6s ease-in-out forwards infinite;
}

.section3Heading
{
    font-size: 5rem;
}

.section3Font
{
    color:#e0e0e0;
    font-size: 5rem;
}

.section3Text:hover
{
    background-color:#f1c40f;
    transition: 2s;
}

.section3Subtext
{
    font-size: 0.9rem;
}

.section3Box
{
    /* border:0.1rem red solid; */
    width:120%;
}

.ImgPng
{
    /* height:60vh; */
    width:100%;
    transition: transform 0.3s ease-in-out;
    animation: hoverAnimation 3.6s ease-in-out forwards infinite;
}


@keyframes hoverAnimation {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.1);
        
    }
    100% {
        transform: scale(1);
        
    }
}

@media(max-height:840px)
{
    .section3Text
    {
        height:65vh;
    }
    .section3SVG
    {
        margin-top: 4%;
    }
}

@media(max-height:780px)
{
    .section3Text
    {
        height:72vh;
    }
    .section3SVG
    {
        margin-top: 6%;
    }
}

@media(max-height:745px)
{
    .section3Box
    {
        margin-top:-1%;
    }
}

@media(max-height:725px)
{
    .section3Box
    {
        margin-top:-2%;
    }
}

@media(max-height:715px)
{
    .section3Box
    {
        margin-top:-3%;
    }
}


@media (max-height:740px)
{
    .section3Box
    {
        margin-top: -3%;
    }
}

@media (max-height:716px)
{
    .section3Box
    {
        margin-top: -5%;
    }
}

@media(max-height:650px)
{
    .section3Text
    {
        height:80vh;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////// */



.section4
{
    height: 60vh;
    width:80vw;
    /* border:0.1rem solid red; */
    margin:auto;
    position: relative;
    top:72vh;
}

.CardBox
{
    display:flex;
    width:115%;
    margin-left: -7.5%;
    margin-top:3%;
    justify-content: space-between;
    /* border:0.1rem solid black; */
    position: absolute;
}
.section4Heading
{
    margin: auto;
    width:100%;
}

.section4SubHeading
{
    color:#f1c40f;  
}

@media(max-height:840px)
{
    .section4
    {
        top:75vh;
    }
}

@media(max-height:780px)
{
    .section4
    {
        top:80vh;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.section5
{
position: relative;
top:98vh;
/* height:60vh; */
width:80vw;
/* border:0.1rem black solid; */
margin:auto;
text-align: left;
}

.section5SubHeading
{
    color:#f1c40f;  
}

.section5Logos
{
    gap:4rem;
    padding-left: 3.5%;
    height:39vh;
    display: flex;
    align-items: center;      
}

.section5LogoContain
{
    width:100%;
    margin-left: 0.0%;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #aaaaaa,
                inset -7px -7px 13px #ffffff;
}


.section5Logos1
{
    gap:4rem;
    padding-left: 3.5%;
    height:39vh;
    display: flex;
    align-items: center;      
}

.section5LogoContain1
{
    position: relative;
    top:10vh;
    width:100%;
    margin-left: 0.0%;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #aaaaaa,
                inset -7px -7px 13px #ffffff;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////// */


.section6
{
    width:80vw;
    position: relative;
    top:120vh;
    margin: auto;
}


/* ////////////////////////////////////////////////////////////////////////////// */

.section7
{
    height:50vh;
    width:100vw;
    margin:auto;
   
    background: #e0e0e0;
    box-shadow:  8px 8px 15px #bebebe,
             -8px -8px 15px #ffffff;
    position: relative;
    top:120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section7ContactInfo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left:-8.3vh;
}

.ContactSpanSection7
{
    display: flex;
    justify-content: center;
}

.section7Heading
{
    position: relative;
  
}


.section7control
{
    position: relative;
    top:-8vh !important;
}



/* /////////////////////////////////////////////////////////////////////////  I-Phone  ////////////////////////// */



/* //////////////////////////////////////////////////////////Section-1///////////////////// */


@media(max-width:600px)
{
    .Section1
    {
        width:100vw;
        height:100vh;
        position: relative;
        top:-13vh;
        flex-direction: column;
        /* border:0.1rem solid red; */
    }

    .Section1Heading:hover
    {
        
        background-color: #e0e0e0;
        span
        {
            color:#f1c40f;
        }
    }

    .Section1Heading
{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-left: 3%;
    display: grid;
    place-items: center; 
    height: 65vh; 
    transition: 1s;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: none;
}


    .Section1SVG1
    {
        position: absolute;
        left:40%;
        top:63%;
        width:65%;
    }

    .Section1Typed
    {
        position: relative;
        top:-9.5vh;
    }

}


/* ////////////////////////////////////////////////////////////Section2///////////////////////////////////////// */



@media(max-width:600px)
{
    .Section2
{
    width:80vw;
    height:60vh;
    /* border:0.1rem solid red; */
    margin:auto;
    position: relative;
    /* top:40vh; */
    top:-5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.Section2SVG2
{
    width:100%;
    /* border:0.1rem dotted black; */
    display: flex;
    justify-items: center;
    justify-content: center;
}


.Section2Text
{   width:100%;
    /* overflow-x: hidden; */
    /* display: grid; */
    /* align-items: center;  */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;   
    padding-left: 2%;
    text-align: left;
    /* border: 0.1rem dotted red; */
    transition: 1s;


    border-radius: 25px;
    box-shadow:  5px 5px 4px #848484,
    -5px -5px 4px #ffffff;
}

.Section2Text:hover
{
    transition: 2s;
    background-color: #f1c40f;
}

.Section2SubText
{
    text-align: left;
    width: 90%;
    padding-left: 5%;
    line-height:-5px !important;
    font-size: 0.7rem;
}

.SectionHeadingPhone
{
    padding-left: 5%;
    padding-top: 5%;
}

.SectionHeading
{
    text-align: left !important;
    font-size: 1.8rem !important;
    width:100%;
    /* border:0.1rem solid red; */
}

.SectionSubHeading
{
    color:#e0e0e0;
    font-size: 1.8rem !important;
}


}



/* //////////////////////////////////////////////////////////Section3//////////////////////////////////////////// */
@media (max-width: 600px)  
{
.section3
{
    height:60vh;
    width:80vw;
    margin:auto;
    margin-top:-30%;
    position: relative;
    top:45vh;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


@media(max-height:747px)
{
    .section3
    {
        margin-top: -20%;
    }
}


@media(max-height:728px)
{
    .section3
    {
        margin-top: -16%;
    }
}


@media(max-height:710px)
{
    .section3
    {
        margin-top: -10%;
    }
}





.section3Text
{
    width:100%;
    transition:1s;
    height:38vh !important;
    margin-top:11%;
    padding-left: 2%;
    text-align: center !important;
    border-radius: 25px;
    box-shadow:  5px 5px 4px #848484,
    -5px -5px 4px #ffffff;
}

.section3SVG
{
    /* border: 0.1rem solid red; */
    width:60% !important;
    margin: auto;
    display: flex;
    justify-items: center;

    justify-content: center;
   
}

.ImgPng1
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    animation: hoverAnimation 3.6s ease-in-out forwards infinite;
}


.section3Font
{
    color:#e0e0e0;
    font-size: 5rem;
}

.section3Text:hover
{
    background-color:#f1c40f;
    transition: 2s;
}

.section3Subtext
{
    font-size: 0.7rem;
    padding-left: 5%;
    
    width:90%;
}

.section3Box
{
    /* border:0.1rem red solid; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ImgPng
{
    /* height:60vh; */
    width:100%;
    transition: transform 0.3s ease-in-out;
    animation: hoverAnimation 3.6s ease-in-out forwards infinite;
}

}


/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////Section4//////////////////////////////////////// */

@media(max-width:600px)
{
    .section4
{
    height: 60vh;
    width:80vw;
    
    /* border:0.1rem solid red; */
    margin:auto;
    position: relative;
    top:50vh;
}

.CardBox
{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    gap: 20px;
    margin-left: 0%;
    margin-top:5%;
    justify-content: space-between;
    /* border:0.1rem solid black; */
    position: absolute;
}
.section4Heading
{
    margin: auto;
    width:100%;
}

.section4SubHeading
{
    color:#f1c40f;  
}
}


/* ///////////////////////////////////////////--Section5--/////////////////////////////// */

@media(max-width:600px)
{
.section5
{
position: relative;
top:76vh;
width:80vw;
margin:auto;
text-align: left;
}


.section5Heading
{
    width:90vw !important;
}

.section5SubHeading
{
    color:#f1c40f;  
    /* border: 0.1rem solid red; */
    
}

.section5Logos
{
    gap:4rem;
    padding-left: 5.6%;
    height:20vh;
    display: flex;
    align-items: center;      
}

.section5LogoContain,.section5LogoContain1
{
    width:100%;
    margin-left: 0.0%;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #aaaaaa,
                inset -7px -7px 13px #ffffff;
}


.section5Logos1
{
    gap:4rem;
    padding-left: 5.6%;
    height:20vh;
    display: flex;
    align-items: center;      
}

}


/* ////////////////////////////////////--Section6--////////////////////////////// */


@media(max-width:600px)
{
    .section6
{
    width:100vw;
    position: relative;
    top:96vh;

}
}



/* //////////////////////////////////--Section7--////////////////////////////// */

@media(max-width:600px)
{
    .section7
{
    height:50vh;
    width:100vw;
    margin:auto;
   
    background: #e0e0e0;
    box-shadow:  8px 8px 15px #bebebe,
             -8px -8px 15px #ffffff;
    position: relative;
    top:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section7ContactInfo
{
    display: flex;
    /* flex-wrap: wrap !important; */
    width: 100vw;
    left:0%;
    overflow-x: hidden;
    /* border: 0.1rem solid red; */
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* left:-0.3vh; */
}

.ContactSpanSection7
{
    display: flex;
    justify-content: center;
    font-size: 1.5rem !important;
    text-align: center !important;
}

.section7Heading
{
    position: relative;
  
}


.section7control
{
    position: relative;
    top:-5vh !important;
    font-size: 1.5rem !important;
    text-align: center;
}
.section7controlText
{
    margin-top: -5%;
}

}