.Confirmation
{
    width:55%;
    position: relative;
    top:10vh;
    margin: auto;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
   

}

.ConfirmationHeading
{
    position: absolute;
    top:85vh;
    left:30vw;
}

@media(max-width:600px)
{
    .ConfirmationHeading
{
    top:70vh;
    left:3vw;
    text-align: center;
    
}
}